<head>
    <title>Cv Eduer Jaramillo</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
        type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Raleway" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="../../css/index.css">
</head>

<body id="body" data-spy="scroll" data-target="#navigation" data-offset="30">

    <div id="header" class="container-fluid d-flex">

        <div class="menu-overlay"></div>

        <div class="menu">
            <div class="toggler">
                <div class="bar1"></div>
                <div class="bar2"></div>
                <div class="bar3"></div>
            </div>

            <ul class="nav-content" id="navigation">
                <li><a class="nav-link" href="#header">Inicio</a></li>
                <li><a class="nav-link" href="#about">Resumen</a></li>
                <li class="dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbardrop">CV</a>
                    <div id="dropdown-menu">
                        <ul>
                            <li><a class="dropdown-item" href="#cv">Habilidades</a></li>
                            <li><a class="dropdown-item" href="#experience">Experiencia</a></li>
                            <li><a class="dropdown-item" href="#education">Educación</a></li>
                            <!-- <li><a class="dropdown-item" href="#diplomas">Diplomas</a></li> -->
                        </ul>
                    </div>
                </li>
                <li><a class="nav-link" href="#portfolio">Proyectos</a></li>
                <li><a class="nav-link" href="#contact">Contacto</a></li>
            </ul>
        </div>
        <div class="language-selector">
            <button class="language-button" onclick="changeLanguage2()">Cambiar a Inglés</button>
        </div>

        <div class="row align-items-center justify-content-center text-center">
            <div>
                <h1>EDUER DE JESÚS JARAMILLO BALBÍN</h1>
                <hr>
                <h4>DESARROLLADOR RUBY ON RAILS FULL STACK</h4>
            </div>
        </div>

    </div>

    <div id="about" class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-md-2 col-sm-12 picture">
                    <img src="../../img/logo2.png" class="rounded-circle" alt="picture">
                </div>
                <div class="col-md-9 col-sm-12 offset-md-1">
                    <h2>Resumen</h2>
                    <p>Tecnólogo en análisis y desarrollo de sistemas con cuatro años de experiencia en diversas áreas
                        de tecnología, incluyendo <strong>frontend, backend</strong> y <strong>automatización de
                            procesos con RPA</strong>. He tenido la oportunidad de crecer trabajando tanto en equipos
                        pequeños como en proyectos colaborativos más amplios, adaptándome a diferentes dinámicas de
                        trabajo en función de cada necesidad.

                        Durante mi carrera, he contribuido al desarrollo de soluciones tecnológicas en empresas de
                        diferentes tamaños, incluidas aquellas con sede internacional, aplicando metodologías ágiles
                        como <strong>Scrum</strong> para garantizar eficiencia y calidad. Mi enfoque está en la entrega
                        de resultados sólidos mediante buenas prácticas de programación y una comunicación clara con el
                        equipo.

                        Además de mantenerme actualizado en tecnologías emergentes, me apasiona la automatización de
                        procesos y la mejora continua. En mi tiempo libre, disfruto explorar la naturaleza y descubrir
                        pueblos con encanto cultural.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid" id="cv">
        <div class="container">
            <div class="row">
                <div class="col-md-2 col-sm-12">
                    <h3>Habilidades principales</h3>
                </div>
                <div class="col-md-9 col-sm-12 offset-md-1">
                    <ul>
                        <li>Refactor del código y desarrollo de API con tecnologías REST.</li>
                        <li>Creación de queries en SQL sin o con ORM (Ruby on Rails).</li>
                        <li>Arquitecturas Serverless (Lambdas locales y dockerizados).</li>
                        <li>Control de versiones con Git.</li>
                        <li>Frameworks: Ruby on Rails.</li>
                        <li>Tests unitarios con Rspec y parallel_tests.</li>
                        <li>Bases de datos SQL: MySQL, SQL Server, PostgreSQL.</li>
                        <li>NoSQL: MongoDB.</li>
                        <li>Metodologías: Scrum, metaprogramación y TDD.</li>
                        <li>Lenguajes de programación: Ruby,Javascript,Php.</li>
                    </ul>
                </div>
            </div>

            <hr id="experience">

            <div class="row">
                <div class="col-md-2 col-sm-12">
                    <h3>Experiencia laboral</h3>
                </div>
                <div class="col-md-9 col-sm-12 offset-md-1">
                    <div class="box">
                        <h4>APRENDIZ EN ANÁLISIS Y DESARROLLO DE SISTEMAS DE INFORMACIÓN</h4>
                        <h6>MAS S.A.S (MAAJI) &emsp;•&emsp; Junio de 2020</h6>
                        <p>Levantamiento de requerimientos, automatización con RPA, desarrollo de webs con Rails.</p>
                    </div>

                    <div class="box">
                        <h4>ANALISTA DE TECNOLOGÍA</h4>
                        <h6>ART MODE S.A.S (MAAJI) &emsp;•&emsp; Diciembre de 2020</h6>
                        <p>Desarrollo de API REST FULL con Ruby On Rails, UiPath y e-commerce.
                        </p>
                    </div>

                    <div class="box">
                        <h4>DESARROLLADOR DE SOFTWARE JR</h4>
                        <h6>INSTITUTO DE CANCEROLOGÍA CLÍNICA VIDA &emsp;•&emsp; Octubre de 2021</h6>
                        <p>Desarrollo de software y creación de productos para administración de staff y pacientes</p>
                    </div>

                    <div class="box">
                        <h4>RUBY BACKEND DEVELOPER</h4>
                        <h6>Abatechnology &emsp;•&emsp; Mayo de 2023 - Actualidad</h6>
                        <p>Gestión de infraestructura con AWS y GitHub. Refactor y metaprogramación con Ruby On Rails.
                    </div>
                </div>
            </div>

            <hr id="education">

            <div class="row">
                <div class="col-md-2 col-sm-12">
                    <h3>Formación académica</h3>
                </div>
                <div class="col-md-9 col-sm-12 offset-md-1">
                    <div class="box">
                        <h4>SERVICIO NACIONAL DE APRENDIZAJE (SENA)</h4>
                        <h6>Certificado de Media Técnica &emsp;•&emsp; Noviembre 2018</h6>
                    </div>
                    <div class="box">
                        <h4>SERVICIO NACIONAL DE APRENDIZAJE (SENA)</h4>
                        <h6>Certificado de Tecnólogo &emsp;•&emsp; Diciembre 2020</h6>
                    </div>
                    <div class="box">
                        <h4>AMERICAN SCHOOL WAY</h4>
                        <h6>Nivelación A2 &emsp;•&emsp; Septiembre 2021</h6>
                    </div>
                </div>
            </div>
            <hr id="portafolio">
            <div class="container-fluid" id="portfolio">
                <h2 class="text-center my-5">ÚLTIMOS PROYECTOS</h2>

                <div class="container">
                    <div class="row">
                        <!-- Project Card 1 -->
                        <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
                            <div class="card h-100">
                                <img class="card-img-top" src="../../img/rpa.png" alt="Project Image">
                                <div class="card-body">
                                    <h3 class="card-title">Automatización con RPA</h3>
                                    <p class="card-text">
                                        Durante mis dos primeros años de experiencia laboral, tuve la oportunidad de
                                        automatizar alrededor de 150
                                        procesos operativos clave. Entre ellos se incluyen la generación de inventarios,
                                        el registro de picking y
                                        packing, y el balanceo de inventarios. Estas automatizaciones contribuyeron a
                                        mejorar significativamente
                                        la rentabilidad y estabilidad operativa, lo que se tradujo en mayores ganancias,
                                        una reducción del trabajo
                                        manual, y la capacidad de mantener una operatividad continua 24/7.
                                    </p>

                                </div>
                                <div class="card-footer text-center">
                                    <i class="fa fa-desktop" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>

                        <!-- Project Card 2 -->
                        <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
                            <div class="card h-100">
                                <img class="card-img-top" src="../../img/sales.png" alt="Project Image">
                                <div class="card-body">
                                    <h3 class="card-title">Plataforma Web para la Captación de Clientes Internacionales
                                    </h3>
                                    <p class="card-text">
                                        Este sitio permitía enviar correos a clientes internacionales, brindándoles
                                        acceso a una plataforma en Shopify.
                                        A través de esta, los clientes podían registrar su información financiera y
                                        generar códigos de pago, simplificando
                                        así el proceso de compra y facilitando las transacciones.
                                    </p>

                                </div>
                                <div class="card-footer text-center">
                                    <i class="fa fa-credit-card" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>

                        <!-- Project Card 3 -->
                        <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
                            <div class="card h-100">
                                <img class="card-img-top" src="../../img/torre.png" alt="Project Image">
                                <div class="card-body">
                                    <h3 class="card-title">Plataforma Web Torre de Control</h3>
                                    <p class="card-text">Cuando comencé mi vida laboral en el sector clínico, tuve la
                                        oportunidad de participar en la construcción de un integrador de terceros que
                                        permitía generar órdenes en diferentes aseguradoras. Esto les daba más tiempo y,
                                        con nuestro sistema, más esperanza a los pacientes de cáncer al hacer sus
                                        solicitudes de órdenes más rápidas y confiables.</p>

                                </div>
                                <div class="card-footer text-center">
                                    <i class="fa fa-heartbeat" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>

                        <!-- Project Card 4 -->
                        <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
                            <div class="card h-100">
                                <img class="card-img-top" src="../../img/staff.png" alt="Project Image">
                                <div class="card-body">
                                    <h3 class="card-title">Plataforma Staff Médico</h3>
                                    <p class="card-text">Esta plataforma permitía crear grupos de tumores, asignar el
                                        personal responsable, agregar comentarios sobre los pacientes y gestionar firmas
                                        de confirmación. Además, contaba con una vista estadística que incluía gráficos
                                        y reportes del estado de los pacientes, todo desarrollado en Ruby on Rails y
                                        JavaScript.</p>

                                </div>
                                <div class="card-footer text-center">
                                    <i class="fa fa-stethoscope" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>

                        <!-- Project Card 5 -->
                        <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
                            <div class="card h-100">
                                <img class="card-img-top" src="../../img/autism.png" alt="Project Image">
                                <div class="card-body">
                                    <h3 class="card-title">Sitio Web Connect</h3>
                                    <p class="card-text">Connect es un software desarrollado para ABA Centers of
                                        America, que permite el agendamiento de citas y la creación de acciones
                                        relacionadas con esas oportunidades. Los padres pueden visualizar las clínicas
                                        más cercanas, así como los requisitos y procesos de los servicios disponibles.
                                        Todo esto se presenta en un entorno gráfico conectado a Snowflake y Tableau.</p>

                                </div>
                                <div class="card-footer text-center">
                                    <i class="fas fa-chart-line"></i>
                                </div>
                            </div>
                        </div>

                        <!-- Project Card 6 -->
                        <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
                            <div class="card h-100">
                                <img class="card-img-top" src="../../img/CI.png" alt="Project Image">
                                <div class="card-body">
                                    <h3 class="card-title">Transición a CI con GitHub Actions y AWS</h3>
                                    <p class="card-text">Participé en la transición de despliegues en ambientes no
                                        homogéneos hacia la implementación de Integración Continua (CI) utilizando
                                        GitHub Actions y Amazon Web Services (AWS). Este proceso optimizó la
                                        automatización de despliegues, mejorando la consistencia y la eficiencia en el
                                        manejo de nuestras aplicaciones, lo que permitió un ciclo de desarrollo más ágil
                                        y una reducción en los errores de implementación.</p>

                                </div>
                                <div class="card-footer text-center">
                                    <i class="fa fa-server" aria-hidden="true"></i>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <hr id="contact">

            <div class="row">
                <div class="col-lg-2">
                    <h4>Información de contacto</h4>
                </div>
                <div class="col-lg-8">
                    <ul>
                        <li>Celular: +573045675629</li>
                        <li>Email: eduerjj@gmail.com</li>
                        <li>GitHub: eduerjb</li>
                        <li>LinkedIn: <a href="https://www.linkedin.com/in/eduer-jaramillo-32a511218/">Eduer
                                Jaramillo</a></li>
                        <li>Ciudad: Medellín, Barrio Belén, CRR 47d # 31b-15</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <footer>
        <div class="footer-content">
            <div>
                <h4>Ubicación</h4>
                <p>Medellín, Colombia</p>
            </div>
            <div>
                <h4>Correo</h4>
                <p>eduerjj@gmail.com</p>
            </div>
            <div>
                <h4>Celular</h4>
                <p>+573045675629</p>
            </div>
            <div>
                <h4>Social</h4>
                <a href="https://www.linkedin.com/in/eduer-jaramillo-32a511218/" target="_blank"><i
                        class="fab fa-linkedin-in"></i></a>
                <a href="https://github.com/EDUERDEJESUSJARAMILLOBALBIN" target="_blankLo siento, parece que el mensaje fue interrumpido. Aquí está la continuación con las líneas finales del HTML completo:
                <a href=" https://github.com/eduerjb" target="_blank">
                    <i class="fab fa-github"></i>
                </a>
            </div>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.2/js/all.js"></script>
    <script src="../../js/index.js"></script>

</body>

</html>